// Global styling for this template
 .separador {
   display:block;
   margin: 1rem 0rem;
 }
html {
  scroll-behavior: smooth;
}

body {  
  overflow-x: hidden;
  @include font ('dosisbold');
  font-size: 1.3rem;
  background-color:white!important;
}

.sombra{
  box-shadow: 0px -2px 12px -2px #787878;
}

.rounded-bm{ 
    border-radius:10px;      
    }

    .intro-video {    
    margin-bottom:20px;
    }

.sombra-marco{
  @include sombra-marco;  
}
.sombra-borde:hover{
  box-shadow:none;
}

.no-show{
  display:none;
}

p {
  line-height: 1.75;
}

a {
  cor: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include font('dosisextrabold');
}




section {
  padding: 15px 0;

  &#videos{
    margin-top:200px;
  }

  h1.section-subheading{
      font-size: 1.3rem;
    }


  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 50px;
    color: #24C5D9
  }
  #grupo{
      margin-top:-50px;
      width:100%;
    }


  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
   
  }

  @media(min-width:768px) {

    padding: 10px;

    h1.section-subheading{
      font-size: 2rem;
    }

    
    
    background-image: url('/img/fondos/fondoDibujosB.png')!important;
    background-size: 100%!important;   
    
    background-repeat: repeat-y!important;



    h2.section-heading {
      font-size: 80px;
      margin-top: 0px;
    }

    h2.section-subheading {
      
      font-size: 80px;
      margin-top: 0px;
    }
  
  

    .btn-submit{
      font-size: 40px!important;
    }

    

  }
  @media(min-width:1400px) {

    h1.section-subheading{
      font-size: 3rem;
    }
    roundede-bm{
     border-radius:30px;
    }

  

    h2.section-heading {
        font-size: 100px;
        margin-top: 20px;
    }

  }
}


// Button Styles
.btn-submit{
  font-size: 30px;
}
.btn {
  @include font('dosisextrabold');
  font-weight: 700;
  border-radius:0.5rem;
  border:1px solid #fff;
  padding:0em 0.5em;

}



@media(min-width:1400px) {

.container {
    max-width: 1240px!important;
}

  .btn-xl {
    font-size: 40px;
    //padding: 5px 20px;
  }
}



.btn-primary{
   background-color: $primary;
}
.btn-success{
   background-color: $success;
}



.btn-primary , .btn-success{
 
  border-color: $primary;
  border:1px solid #fff;
  border-radius:50px;
 
  -webkit-transition:box-shadow, .5s;

  
  &:hover {    
    background-color: $amarillo;    
    color: white;
    box-shadow:none;
    border-color:white!important;
  }
  
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}



/*////////////////////////////////////////////////////////////////////////////////////////////////////////
Animacion dde boton
///////////////////////////////////////////////////////////////////////////////////////////////////////*/



 

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}



.shadow-pulse
{  
  animation: shadow-pulse 2s infinite;
}

.modal-content{
  color: $primary!important;
}

.modal-dialog {
  max-width: 1000px;
  margin: 1.75rem auto;
}


.modal-header {
 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}

.mi-modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: .75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
  .btn{
    font-size: 1.75rem;
    padding: 0.25rem 0.15rem;

    .fa-angle-left{
      margin-right:2rem;
    }

    .fa-angle-right{
      margin-left:2rem;
    }    
  }
  .separador-horizontal{
    margin: 0rem 1rem;
  }
}







