#mLateral{
      
    position:fixed;
    right:-180px;
    bottom:50px;
    text-align:center;
    font-size:2rem;
    font-weight:900;
    color:white;
    z-index:2000;
    @include font('dosisbold');
    border-radius:50%;
    padding: 0rem 1rem;      
     

    &:hover,:visited,:active{
      text-decoration:none;
    }

    &.visible{
        right:25px;
    }  
  

    &.rotate{
        transition: transform $transition-time ease-out;
        transform:rotate(-90deg);
        right:30px;        
    }

    @media(min-width:768px){
        font-size:3.5rem;
        padding:.3rem 2rem .3rem 2rem;  
        &.visible{
          right:30px;
        } 

    }

    @media (min-width: 1400px){   

	    #mLateral{     
	        font-size:5rem;
	        padding:0rem 2.5rem 0rem 2.5rem;
	    }
    }
}


.seleccion-modal {

	color: #24C5D9 !important;
 	padding-right: 0px !important;

	.modal-dialog {
   
	    margin: 1rem auto;
	    max-width: 95vw;
    }

    .modal-content {
	    padding: 0px 0;
	    text-align: center;
	    h2 {
	      font-size: 1.5em;
	      margin-bottom: 15px;
	    }
	    p {
	      margin-bottom: 30px;
	    }
	    p.item-intro {
	      font-size: 16px;
	      font-style: italic;
	      margin: 20px 0 30px;
	      @include font ('dosisbold');
	    }
	    ul.list-inline {
	      margin-top: 0;
	      margin-bottom: 30px;
	    }
	    img {
	      margin-bottom: 30px;
	    }
	    button {
		    cursor: pointer;
		    font-size:20px;
		    >i{
		    	display:none;
		    }
	    }
    }
    .close-modal {
	    position: absolute;
	    top: 25px;
	    right: 25px;
	    width: 75px;
	    height: 75px;
	    cursor: pointer;
	    background-color: transparent;
	    &:hover {
	    	opacity: 0.3;
	    }
    	.lr {
      /* Safari and Chrome */
      z-index: 1051;
      width: 1px;
      height: 75px;
      margin-left: 35px;
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: $gray-900;
      .rl {
        /* Safari and Chrome */
        z-index: 1052;
        width: 1px;
        height: 75px;
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        background-color: $gray-900;
      }
    }
  }

  @media(min-width:767px) {
        .modal-content {
            padding: 0px 0;
            button {
                cursor: pointer;
                font-size:25px;
            }
        }
        .modal-dialog {
          
          margin: 1rem auto;
          width:auto;
          max-width: 80vw;
        }

      
        
    }

    @media (min-width: 1400px){

      .seleccion-modal .modal-content h2 {
          font-size:60px;
          color: $primary;
      }
      .modal-dialog {       
            
        max-width: 60vw;
      }
   
    }
}