// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#services{

 /*background-image: url('/img/fondos/fondoDibujos.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;*/

  
}

.redondo{
  	background-color: $primary;
  	border-radius: 50%;
  }