
/*
body{
     background-image:none!important;
     background-attachment: fixed;    

    
    @media(min-width:768px){
        background-image: url('/img/fondos/fondoDibujosB.png')!important;
        background-size: cover!important;   
        background-position: center center!important;
        background-repeat: repeat-y!important;
    }
}

*/




.fa-x1{
    font-size:1.5rem!important;
}

.redondo-top{
    border-radius:0.5rem 0.5rem 0rem 0rem!important;
}
.redondo-bottom{
    border-radius:0rem 0rem 0.5rem 0.5rem!important;
}

.redondo-top-bottom{
    border-radius:0.5rem 0.5rem 0.5rem 0.5rem!important;    
}

.redondo-todo{
    border-radius:0.5rem 0.5rem 0.5rem 0.5rem!important;


}


    

.portfolio-caption, .portfolio-link{
  -webkit-box-shadow: 0px -2px 12px -2px rgba(120,120,120,1);
  -moz-box-shadow: 0px -2px 12px -2px rgba(120,120,120,1);
  box-shadow: 0px -2px 12px -2px rgba(120,120,120,1);

  @media (min-width:800px){

      -webkit-box-shadow: 0px -2px 12px -2px rgba(120,120,120,1);
      -moz-box-shadow: 0px -2px 12px -2px rgba(120,120,120,1);
      box-shadow: 0px -2px 12px -2px rgba(120,120,120,1);

  }
}

.shadow{
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75)!important;
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75)!important;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75)!important;
}

.text-shadow{
    text-shadow: 0px 2px 17px rgba(150, 150, 150, 1);
}

.tareaItem, .juegoItem { transition: all .2s ease-in-out; }
.tareaItem:hover, .juegoItem:hover { transform: scale(1.1); }
.seleccionado { 
   background-color: #16a8fd!important;

}

.right{
    left:50%;
}

.portfolio-modal .modal-content img{
    margin-bottom: 0px!important;
}

#modal-juegos{
    margin-top: 0rem!important;
}

#juegos{
    padding-top:100px!important;
}
#continua{
    padding:1rem;
}
.hidden{
    display: none;
}

.vertical{
    transform: rotate(90deg);
    margin-top: 2rem;
}
@media (min-width: 768px){

    #juegos{
        padding-top:50px!important;
    }
    
    

}